
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>NBA-Age</title>
</head>
{% block script %}
<!-- Code for world map-->
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>


<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
<style>
    /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
#container {
    height: 500px; 
    width: 800px; 
    margin: 0 auto; 
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}
</style>
{% endblock script %}

{% block my_content %}

<!-- Map Container-->
<div id="container"></div>

<!-- other global per country and time series chart.js canvas -->
<div style="position: absolute; height:30vh; width:70vw">
    <canvas id="myChart"></canvas>
    <canvas id="timeSeriesChart"></canvas>
</div>

<!-- Script for global per country and time series analysis -->
<script>
    var ctx = document.getElementById('timeSeriesChart').getContext('2d');

    var labels = {{ context.date_series| safe }};

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels,
            datasets: [{
                label: '# daily new confirmed',
                data: {{ context.atlanta_series | safe }},
                borderWidth: 5,
                fill: false,
                borderColor: '#fc8403'
            }, {
                label: '# daily new death',
                data: {{ context.boston_series | safe }},
                borderWidth: 5,
                fill: false,
                borderColor: '#fc0367'
            }, {
                    label: '# daily new recovered',
                    data: {{ context.brooklyn_series | safe }},
                    borderWidth: 5,
                    fill: false,
                    borderColor: '#03fc84'
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Timeseries'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            }}
    });

</script>
{% endblock my_content %}