<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>NBA-Age</title>
</head>
<body>
    <div class="container">
        {{ table|safe }}
    </div>
</body>
<footer>
    <!-- <p>Author: Michael Marzec</p> -->
    <p>Last Updated: 1/25/2022</p>
    <p>Author: Michael Marzec</p>
    <p>Email: <a href="mailto:michaelmarzec11@gmail.com">michaelmarzec11@gmail.com</a></p>
    <p>Website: <a href="https://michaelmarzec.github.io/">https://michaelmarzec.github.io/</a></p>
    <p>Github: <a href="https://github.com/michaelmarzec/NBA-Age-Analysis/">https://github.com/michaelmarzec/NBA-Age-Analysis/</a></p>
    <p>Data: <a href="https://cleaningtheglass.com/">https://cleaningtheglass.com/</a></p>
</footer>
</html>