.container {
    height: 00px; 
    width: 800px; 
    margin: 0 auto; 
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}

.footer{
    clear: both;
    font-size:  16px;
    color: #555555;
    text-align: left;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    background-color: #f2f2f2;
    line-height: 1.5em;
}

.redirect{
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.flex-wrapper {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}